@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
  /*justify-content: space-between; Set content flex to 1 to fill the space as needed*/
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content
button {
  padding: 8px 16px;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.footer {
  background-color: rgb(220, 220, 220);
}

ul {
  display: flex;
  gap: 15px;
  /*Removes the indentation from UL*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
